linux/OR.png
linux/arduino-ids.txt
linux/install.sh
linux/resources/
linux/OpenRobertaUSB.jar
*.tar.gz

osx/Info.plist
osx/arduino-ids.txt
osx/resources
osx/start.sh
osx/package/Distribution
osx/package/ORUSB.pkg/
osx/OpenRobertaUSB.jar
*.pkg

windows/arduino-ids.txt
windows/resources
windows/setup.wxs
windows/OpenRobertaUSB.exe
windows/*.wixpdb
windows/*.wixobj
*.msi

